.signupContainer {
  width: 53%;
  display: flex;
  padding-left: 148px;

  .leftPart {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 35px;

    img {
      width: 147px;
    }
  }
}
